html, body {
    margin: 0px;
    padding-top: 28px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    height: 100%;
    overflow: visible;
}
.section {
    position: relative;
    min-height: 100%;
    width: 84%;
    margin: 0 auto;
}
.inner {
    text-align: left;
    padding-top: 2%;
    line-height: 1.6em;
}

header, footer {
    width: 270px;
    float: right;
}
footer {
    position: absolute;
    right: 8%;
    bottom: 0%;
    z-index: 1;
}
h1 {
    font-size: 28px;
}
h1, h2, h3 {
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    margin: 0 0 20px;
}
p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}
li {
    margin-bottom: 6px;
}

a {
    color:#267CB9;
    text-decoration:none;
}
a:hover, a:focus {
    color:#069;
    font-weight:bold;
}

code, pre {
    background-color: #F8F8F8;
}
pre {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    margin-top: 1rem;
}
            